<div class="container">
    <div class="row mt-3">
        <div class="col">            
            <form [formGroup]="profileForm" (ngSubmit)="onSubmit()">
                <div class="mb-3">
                  <label for="inputEmail" class="form-label">Email address: </label>
                  <input formControlName="Email" type="email" class="form-control" id="inputEmail" aria-describedby="emailHelp">
                  @for (error of errors.Email; track $index) {
                    <p class="text-danger">{{error}}</p>
                  }
                </div>

                <div class="mb-3">
                  <label for="inputPassword" class="form-label">Password: </label>
                  <input type="password" formControlName="Password" class="form-control" id="inputPassword">
                </div>

                <button class="btn btn-primary" [disabled]="!profileForm.valid">Submit</button>

            </form>
        </div>
    </div>
</div>